<h3>Hi, <%= @order.name %></h3>
<p><%= @content %></p>
<hr>
<h4>Order # <%= @order.sn %></h4>
<ul>
  <% @order.order_items.each do |item| %>
    <li><%= item.product.name %> <%= item.quantity %> x <%= item.price %></li>
  <% end %>
  <p>Subtotal <%= @order.amount %></p>
</ul>
<hr>
<h4>Shopping Information</h4>
<p><%= @order.name %></p>
<p><%= @order.phone %></p>
<p><%= @order.address %></p>
<hr>
<p>
  Best, <br>
  from Cindy
</p>