<% if @product.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add New Product</h3>

<%= form_for  [:admin, @product] do |f| %>
  <%= f.text_field :name, placeholder: "Product Name"%>

  <%= image_tag @product.image, width: '30px' if @product.image? %>
  <%= f.file_field :image %>

  <%= f.text_area :description, placeholder: "Add Product Description...", rows: "10"%>

  <%= f.text_field :price, placeholder: "Price"%>

  <%= f.submit "Submit" %>
<% end %>
