<section id="product-list"> 
  <% @products.each do |product| %>
    <div id="<%= product.id%>" class="product-box">
      <%= link_to product_path(product) do %>
        <%= image_tag product.image %><br>
        <%= product.name %><br>
      <% end %>
      <p><%= truncate(product.description, length: 20) %></p>
      <h4>$<%= product.price %></h4>
      <button class="add-product">Add to Cart</button>
    </div>
  <% end %>
  <%= paginate @products %>
</section>
<%= render :partial => "shared/cart_item_list" %>
  
<%= render :partial => "shared/item_template" %>